
.singlepage-foto{
    height: 777px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
}

.singlepage-banner-arrow{
    width: 47px;
    height: 47px;
    background-color: rgba(42,42,42,0.14);
    text-align: center;

    i{
        font-size: 24px;
        line-height: 47px;
        color: #ffffff;
    }
}

.singlepage-banner{
    display: flex;
    justify-content: center;

    img{

    }
}

.singlepage-bill-wrap{
    margin-top: -86px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.singlepage-bill-collection{
    font-family: $mainFont;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
    margin: 73px auto 15px;
}

.singlepage-bill-slide{
    width: 147px;
    height: 1px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singlepage-bill-slide-slider{
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
}

.singlepage-bill-prodtitle{
    font-family: $mainFont;
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 18px auto 67px;
}

.singlepage-bill-text1{
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 300;
    color: #5e5e5e;
    width: 618px;
    text-align: center;
}

.singlepage-bill-properties{
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 700;
    color: #b9b9b9;
    margin-top: 28px;

    b{
        color: #2f2f2f;
        font-weight: 700;
        margin-right: 44px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.singlepage-bill-price{
    font-family: $mainFont;
    font-size: 24px;
    font-weight: 700;
    color: #ef5b70;
    margin: 37px auto 43px;
}

.bill-line{
    width: 642px;
    height: 1px;
    background-color: #eaeaea;
}

.singlepage-bill-options{
    margin-top: 63px;
}

.bill-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option{


    h6{
        font-family: $mainFont;
        font-size: 14px;
        line-height: 24px;
        font-weight: 700;
        color: #2f2f2f;
        margin: 0 0 16px;
    }
}

.pick-btn{
    width: 144px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-family: $mainFont;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #bcbcbc;
    padding: 0 9px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div{
        display: flex;
        align-items: center;
    }
}

.coloursample{
    width: 12px;
    height: 12px;
    background-color: #ef5b70;
    margin-right: 11px;
}

.add-to-cart{
    width: 537px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 700;
    color: #ef5b70;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

    img{
        margin-right: 15px;
    }
}

.singlepage-recomend{
    height: 645px;
    overflow: hidden;
}

.singlepage-recomended-title{
    font-family: $mainFont;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d;
    margin: 119px 0 72px;
    text-align: center;
}

.singlepage-recomended-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.singlepage-recomended-wrap-cell{
    width: 263px;
    height: 364px;
    background-color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        box-shadow: 0 0 4px #000;
    }
}

.cell-img-wrap{
    width: 261px;
    height: 280px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;

    img{
        object-fit: contain;
        height: 280px;
    }
}

.cell-title{
    font-family: $mainFont;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #6f6e6e;
    margin: 18px 0 17px 15px;
}

.cell-price{
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #f16d7f;
    margin: 0 15px;
}
