@import "variables";
@import "header";
@import "topNav";
@import "newArrivals";
@import "singlepageContent";
@import "subscribe";
@import "footer";
@import "copyrights";

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1140px;

    @media (max-width: 1140px) {
        width: auto;
    }
}
